{% extends "@EdgarEzUIProfile/profile/right/security/view.html.twig" %}

{% trans_default_domain "edgareztfa" %}

{% block subtitle %}
    {% set subtitle = 'Two Factor Authentication'|trans %}
    {{ parent() }}
{% endblock %}

{% block profilecontent %}
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'edgarezuitfa.th.provider'|trans|desc('Provider') }}</th>
            <th>{{ 'edgarezuitfa.th.description'|trans|desc('Description') }}</th>
            <th>{{ 'edgarezuitfa.th.actions'|trans|desc('Actions') }}</th>
        </tr>
        </thead>
        <tbody>
            {% for providerId, provider in providers %}
                <tr>
                    <td>{{ provider.title }}</td>
                    <td>{{ provider.description }}</td>
                    <td>
                        {% if provider.selected %}
                            <a href="{{ path('tfa_reinitialize', {'provider': providerId}) }}">
                                {% trans %}
                                    Reinitialize
                                {% endtrans %}
                            </a>
                            <a href="{{ path('tfa_cancel', {'provider': providerId}) }}">
                                {% trans %}
                                    Cacncel
                                {% endtrans %}
                            </a>
                        {% else %}
                            <a href="{{ path('tfa_click', {'provider': providerId}) }}">Activate</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
