{% extends "@EdgarEzTFA/profile/tfa/base_login.html.twig" %}

{% block auth_form %}
    <p>
        {% trans %}
        Enter your Two Factor Authentication code you have received by mail
        {% endtrans %}
    </p>

    {{ form_start(form) }}
        <fieldset>
            <div class="form-group{% if error %} has-error{% endif %}">
                {{ form_label(form.code) }}
                {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.code) }}
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token("authenticate") }}" />

            <button type="submit" class="btn btn-primary ez-btn ez-btn--login">{{ 'authentication.submit'|trans|desc('Login') }}</button>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
